apiVersion: v1
kind: Service
metadata:
  name: uaip-hub
  namespace: uaip
  labels:
    app: uaip-hub
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: uaip-hub
  ports:
    - name: http
      port: 443
      targetPort: 8443
      protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

---
apiVersion: v1
kind: Service
metadata:
  name: uaip-hub-headless
  namespace: uaip
  labels:
    app: uaip-hub
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: uaip-hub
  ports:
    - name: http
      port: 8443
      targetPort: 8443
      protocol: TCP
